---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
    <li>
      <!-- span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span -->

      <h3>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h3>

      <span class="post-meta">
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
        {% if post.updated %}
        (Updated: <time datetime="{{ post.updated | date_to_xmlschema }}">{{ post.updated | date: "%b %-d, %Y" }}</time>)
        {% endif %}
      </span>


      {% if post.abstract %}
      <p class="small light-font">
        {{ post.abstract | truncate: site.quick_view_length, '...' }}
      </p>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
