<script type="text/javascript">
    amzn_assoc_placement = "adunit0";
    amzn_assoc_enable_interest_ads = "true";
    amzn_assoc_tracking_id = "padamson-20";
    amzn_assoc_ad_mode = "auto";
    amzn_assoc_ad_type = "smart";
    amzn_assoc_marketplace = "amazon";
    amzn_assoc_region = "US";
    amzn_assoc_textlinks = "";
    amzn_assoc_linkid = "27b344daf36c8c02cccd34d388f6c8b5";
    amzn_assoc_emphasize_categories = "1000,13900871,16310091,229534";
    amzn_assoc_fallback_mode = {"type":"search","value":"data analytics"};
amzn_assoc_default_category = "All";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
